body{
    /* background-color: #191d38; */
    color: #191d38;
}

.installation-center-div{
    background-color: #1f2547;
    position: absolute;
    border-radius: 10px;
    padding: 100px;
    display: block;
}